# First account
shared_credentials_file = "/Users/username/.aws/credentials"
# profile                 = "default-tg"
profile = "default"

region = "us-west-2"

# TG Details
create_tg   = true
name        = "example TSG"
description = "example Transit Gateway for VPC/VPN management"


# Customer Gateway Details
cgw_ip_address = [
  {
    "bgp_asn"               = 65000
    "ip_address"            = "122.175.110.231"
    "type"                  = "ipsec.1"
    "routing"               = "static"
    "name"                  = "dev-1"
    "tunnel1_inside_cidr"   = "169.254.32.196/30"
    "tunnel2_inside_cidr"   = "169.254.32.200/30"
    "tunnel1_preshared_key" = ""
    "tunnel2_preshared_key" = ""
  }
]
allow_external_principals = "true"

ram_principals = ["xxxx"]

### VPC attachment with in same account
vpc_id     = "vpc-xxx"
subnet_ids = ["subnet-xxx", "subnet-xxx"]

### additional_rts
additional_rts = {
  "ss_vpc_rt" = {
    "createdby" = "devops"
  }
  "dest_vpc_rt" = {
    "createdby" = "devops"
  }
}

ss_rt_tags = {
  "Name"      = "ss_vpc_rt"
  "createdby" = "devops"
}
