# First account
shared_credentials_file = "/Users/username/.aws/credentials"
profile                 = "default"
region                  = ap-southeast-1

# TG Details 
create_tg   = true
name        = "Example TSG"
description = "test TSG"

# CG Details
create_cg       = true
default_routing = "static"
bgp_asn         = "65000"
ip_address      = [
    {
      "bgp_asn" = 65000
      "ip_address" = "127.0.0.1"
      "type" = "ipsec.1"
      "routing" = "static"
      "name" = "dev-1"
    }
  ]

allow_external_principals = "true"

ram_principals = ["285913126164"]

### VPC attachment in shared services
vpc_id = "vpc-xxxxx"
subnet_ids = ["subnet-xxxx","subnet-xxxx","subnet-xxx"]